.bg-img {
  background-image: url(../../img/HeroBanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.navLinks {
  font-family: $font-headings;
}
.active {
  color: $primary-color;
}
.me-auto {
  margin: auto;
}
.link {
  color: $link-color;
}
.navCta {
  border: solid 1px white;
  border-radius: 50px;
}
